.signInSection {
    background-color: #141C3A;
    margin: -8rem 40px 0px 40px;
    border-radius: 20px;
    color: white;
    padding: 40px 60px 40px 60px;
    display: flex;
    justify-content: space-between;
  }
  .signInSectionDiscription {
    flex: 2;
    line-height: 1.5;
    font-size: 17px;
    margin-top: 10px;
  }
  .signInSectionHeader {
    font-size: 20px;
    flex: 1.5;
  }
  .signInSectionButton {
    margin-top: 30px;
    flex: 1.5;
    text-align: center;
  }
  .signInSectionButton button {
    border: 1px solid #5BE9B9;
    background: #141C3A;
    color: white;
    cursor: pointer;
    padding: 14px 38px;
    font-size: 17px;
    border-radius: 30px;
    
  
  }
  .signInSectionButton button:hover {
    color: #141C3A;
    background: #5BE9B9;
  }
  .mainBottomBar {
    background-color: #7510F7;
    padding: 40px 60px 0px 60px;
    margin-top: 20px;
    color: white;
    margin-top: 8rem;
  }
  .BottomBar {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
  }
  .rightBottomBar {
    flex: 1;
    text-align: end;
  }
  .rightBottomBar a img {
    width: 30px;
    border-radius: 100%;
  }
  .rightBottomBar h2 {
    margin-right: 100px;
  }
  .rightBottomBar a {
    padding-left: 10px;
    cursor: pointer;
  }
  .leftBottomBar {
    flex: 1;
    font-family: sans-serif;
  }
  .lastBottomBar {
    text-align: center;
    
  }
  .lastBottomBar p {
    padding-bottom: 10px;
    margin-bottom: 0;
    font-family: sans-serif;
  }
  @media only screen and (max-width: 500px) {
    .BottomBar {
  
        display: block;
        
        
      }
      .rightBottomBar {
        flex: 1;
        text-align: start;
      }
      .mainBottomBar {
        padding: 40px 20px 0px 20px
        
      }
      .lastBottomBar p {
        font-family: sans-serif;
      }
      
      .signInSection {
    
        background-color: #141C3A;
        margin: -9rem 10px 0px 10px;
        border-radius: 10px;
        color: white;
        display: inline-block;
        padding: 20px;
        text-align: center;
      }
      .signInSectionHeader {
        font-size: 20px;
      }
      .signInSectionButton button {
        border: 1px solid #5BE9B9;
        background: #141C3A;
        color: white;
        cursor: none;
        padding: 13px 50px;
        border-radius: 30px;
        font-size: 20px;
        margin-bottom: 40px;
      
      }
      .signInSectionDiscription {
        line-height: 2;
        font-size: 15px;
      }
  }